#TemplateContent {
    width: auto;
    height: 190px;
    overflow: hidden;
    /*padding: 10px;*/
}

    #TemplateContent ul {
        width: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
    }

    #TemplateContent li {
        width: 220px;
        height: 200px;
        /*margin: 5px;*/
        padding: 5px 5px 5px 5px;
        background: #dbf3f7;
    }

@media only screen and (min-width: 1313px) {
    #TemplateContent {
        /*width: 80%;*/
        height: 200px;
    }

        #TemplateContent ul {
            width: auto;
        }

        #TemplateContent li {
            float: left;
        }
}
