@*<ul class="nav navbar navbar-top-links navbar-right mbn">
    <li class="dropdown topbar-user">
        <a data-hover="dropdown" href="#" class="dropdown-toggle">Camera</a>
        <ul class="dropdown-menu dropdown-user pull-right">
            <li class=""><a href="#manageCamera-tab" data-toggle="tab"><i class=" fa fa-pencil-square-o"></i>Quản lý camemra</a></li>
            <li class=""><a href="#config-tab" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Cấu hình camera</a></li>
        </ul>
    </li>
</ul>*@