@using MyWeb.HtmlHelpers
@*@model IEnumerable<MyWeb.Models.CustomerModel>*@
@model IEnumerable<MyWeb.Areas.Agency.Models.CameraOfUser>
@{
    var grid = new WebGrid(Model,
           rowsPerPage: 10,
           canPage: true,
           canSort: true,
           ajaxUpdateContainerId: "gridCameraFail"
           );
}
<style>
    th {
        color: white;
        text-align: center;
        background: #2A3F54;
    }

    thead, tfoot {
        background: #2A3F54;
        text-align: center;
        font-size: 18px;
    }

    a:hover {
        color: #BFCAE6;
    }

    tbody {
        color: black;
        background: white;
    }

    #btAdd:hover {
        background: #2990af;
    }
</style>
@if (Model.Any())
{
    <div id="gridCameraFail" class="table-responsive" style="width: 50%; margin:auto">
        @grid.GetHtml(
        tableStyle: "table webGrid table-hover table-bordered table-striped table-hover-color",
        headerStyle: "text-left hidden-sm hidden-xs",
        alternatingRowStyle: "alt",
        mode: WebGridPagerModes.All | WebGridPagerModes.FirstLast | WebGridPagerModes.NextPrevious | WebGridPagerModes.Numeric,
         columns: grid.Columns(
         grid.Column("STT", format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex, style: "text-center vertical-center", canSort: false),
         grid.Column("CameraName", "Tên Camera", style: "text-center  vertical-center", canSort: false),
          grid.Column("FullName", "Tên khách hàng", style: "text-center  vertical-center", canSort: false)
            //grid.Column(format: (item) => new MvcHtmlString(item.Status == "isConnected:True" ? "<span class='label label-success'>Bật</span>" : "<span class='label label-danger'>Tắt</span>"), header: "Trạng thái", style: "text-center  vertical-center")

                            ))
    </div>
}
else
{
    <div class="form-group" style="margin-top: 5.5%; text-align:center">
        <div class="alert alert-warning">Chưa có camera nào!</div>
    </div>
}
