
/* Center the loader */
#loader {
    position: fixed;
    right: 50%;
    bottom: 20%;
    z-index: 1;
 border: 16px solid orange;
  border-radius: 50%;
  border-top: 16px solid lightseagreen;
  border-bottom: 16px solid lightseagreen;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
    display: none;
}


/* Add animation to "page content" */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




